body {
  font-size: 100%;
  background: url()
    no-repeat center top;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}

div,h2,h3,h6,form,label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.clear {
  clear: both;
}
.booking-form {
  box-sizing: border-box;
  padding: 3em 3em;
  background: rgba(0, 0, 0, 0.78);
  width: 65%;
  margin: 0 auto;
}
h2.sub-heading,
h3.sub-heading {
  display: inline-block;
  text-align: left;
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0.4em;
  padding: 0px 25px 10px 0px;
  font-weight: 400;
  letter-spacing: 2px;
  border-bottom: 2px solid #6e3a91;
  font-family: "Raleway", sans-serif;
}
.radio-section {
  text-align: left;
  margin: 0.7em 0;
}
.radio-section h6 {
  display: inline;
  margin-top: 10px;
  color: #42046b;
  text-shadow: 1px 0.5px #b12fd1;
  font-size: 19px;
  text-transform: capitalize;
  margin-bottom: 0.7em;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
}
.radio-section ul {
  display: inline;
}
.radio-buttons li input[type="radio"] {
  cursor: pointer;  
  accent-color: purple;
}
.radio-buttons li label {
  color: #fff;
  font-size: 13.5px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
}
.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form textarea, select.form-control, input#datepicker {
  width: 100%;
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.2px;
  padding: 10px 10px;
  outline: none;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.booking-form textarea {
  resize: none;
  height: 80px;
}
.field-spc {
  margin-bottom: 1em;

}
.form-text {
  width: 100%;
}
select.form-control option {
  background: #000;
}
.booking-form input[type="submit"],
.booking-form input[type="reset"] {
  text-transform: capitalize;
  background: #0091cd;
  color: #fff;
  padding: 0.5em 4em;
  border: none;
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 1em;
  float: left;
  outline: none;
  letter-spacing: 1px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
  font-family: "Monospace", monospace;
}
.booking-form input[type="submit"] {
  margin-right: 1.5em;
  background: #d2741c;
}
.booking-form input[type="submit"]:hover {
  background: #0091cd;
  color: #fff;
}
.booking-form input[type="reset"]:hover {
  background: #d2741c;
  color: #fff;
}
.booking-form ::-webkit-input-placeholder {
  color: #fff;
}
.booking-form :-moz-placeholder {
  color: #fff;
}
.booking-form ::-moz-placeholder {
  color: #fff;
}
.booking-form :-ms-input-placeholder {
  color: #fff;
}
.booking-form label {
  font-size: 13.5px;
  color: rgba(255, 255, 255, 0.83);
  letter-spacing: 2px;
  font-weight: 400;
  position: relative;
  margin-bottom: 5px;
  display: inline-block;
  text-transform: capitalize;
}
ul.radio-buttons li {
  display: inline-block;
  margin: 0em 2em;
}
@media (max-width: 1440px) {
  .booking-form {
    width: 73%;
  }
}
@media (max-width: 1366px) {
  .booking-form {
    width: 75%;
  }
}
@media (max-width: 1280px) {
  .booking-form {
    width: 80%;
  }
}
@media (max-width: 1080px) {
  .booking-form {
    width: 83%;
    padding: 2em 2.2em;
  }
}
@media (max-width: 1024px) {
  h2.sub-heading,
  h3.sub-heading {
    font-size: 22px;
    padding: 0px 20px 7px 0px;
  }
  .field-spc {
    margin-bottom: 0.8em;
  }
  .booking-form input[type="submit"],
  .booking-form input[type="reset"] {
    padding: 0.5em 3em;
    font-size: 1.1em;
  }
}
@media (max-width: 768px) {
  h2.sub-heading,
  h3.sub-heading {
    font-size: 21px;
    padding: 0px 15px 7px 0px;
  }
  .radio-section h6 {
    font-size: 17px;
    letter-spacing: 1.5px;
  }
  ul.radio-buttons li {
    margin: 0em 1em;
  }
}
@media (max-width: 667px) {
  h2.sub-heading,
  h3.sub-heading {
    font-size: 19px;
    letter-spacing: 1.5px;
  }
  .booking-form {
    width: 86%;
    padding: 2em 2em;
  }
  .booking-form input[type="text"],
  .booking-form input[type="email"],
  .booking-form textarea,
  select.form-control,
  input#datepicker {
    padding: 8px 10px;
  }
  .field-spc {
    margin-bottom: 0.9em;
  }
  h2.sub-heading,
  h3.sub-heading {
    margin-bottom: 0.6em;
  }
}
@media (max-width: 640px) {
  .booking-form input[type="submit"] {
    margin-right: 0.7em;
  }
}
@media (max-width: 600px) {
  .booking-form {
    width: 90%;
  }
  .booking-form input[type="submit"],
  .booking-form input[type="reset"] {
    padding: 0.5em 2em;
  }
}
@media (min-width: 481px) {
  .main-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .form-text1,
  .form-text2 {
    flex-basis: 48.5%;
    -webkit-flex-basis: 48.5%;
  }
}
@media (min-width: 737px) {
  .triple-wthree {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .form-text11,
  .form-text22,
  .form-text33 {
    flex-basis: 32%;
    -webkit-flex-basis: 32%;
  }
}
@media (max-width: 480px) {
  ul.radio-buttons li {
    margin: 0em 0.5em;
  }
  .radio-section {
    margin: 1.3em 0 0.7em;
  }
  .booking-form {
    width: 85%;
  }
  ul.radio-buttons li {
    margin: 1em 0em 0em 0.2em;
    display: block;
  }
  .booking-form input[type="submit"],
  .booking-form input[type="reset"] {
    font-size: 1em;
  }
  .booking-form textarea {
    height: 60px;
  }
  .radio-section {
    margin: 1em 0 0.7em;
  }
}
@media (max-width: 414px) {
  .booking-form {
    width: 90%;
  }
  .booking-form {
    width: 90%;
    padding: 1.5em 1.7em;
  }
}
@media (max-width: 384px) {
  .booking-form input[type="submit"],
  .booking-form input[type="reset"] {
    float: none;
  }
  .booking-form input[type="submit"] {
    margin-right: 0em;
  }
}
@media (max-width: 320px) {
  .booking-form {
    width: 93%;
    padding: 1.3em 1.5em;
  }
  h2.sub-heading,
  h3.sub-heading {
    font-size: 18px;
    letter-spacing: 1.4px;
    padding: 0px 12px 5px 0px;
  }
}

@keyframes SlideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.booking-form {
  animation: SlideIn 0.9s ease-out forwards;
}



.text111 {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0.4em;
  padding: 0px 25px 10px 0px;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  font-family: "Raleway", sans-serif;
}

input[type="button"].toggleForm {
  columns: none;
}